.skills_content {
    text-align: center;
    padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  }
  
  .skills_title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  font-weight: bold;
  }

  .categories_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .skills_category {
    background-color: #e7e7e7;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .skills_subtitle {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .tools_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
  }
  
  .skills_name {
    text-align: center;
  }
 
  
  .badge img {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
  }
  
  .skills_column {
    padding: 10px;
}
  
  .skills_box {
    display: flex;
    justify-content: center;
    align-items: center; /* Space between columns */
  }
  .skills_box_design {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 30px; /* Space between columns */
  }
  
  .skills_row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Space between badges */
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
    justify-content: center; /* Center badges */
  }
  
  .badge {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    font-size: 0.5rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(145deg, #b0b5b4, #dce1e0); /* Gradient effect */
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: float 3s ease-in-out infinite;
    cursor: pointer;
  }
  
  .badge:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }
  
  .level {
    font-size: 0.5rem;
    font-weight: normal;
    margin-top: 3px;
    
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
