.about_container{
    grid-template-columns: repeat(2, 1fr);
    column-gap:4rem;
} 

.about_img{
    width: 300px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about_title{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about_subtitle{
    font-size: var(--tiny-font-size);
}
.about_description{
    padding: 0 2rem 0 0;
    margin-bottom: var(--mb-2-5);
    line-height:  25px; 
    margin-top: 25px;
}

@media screen and (max-width: 992px){
   .about_container{
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
   }

   .about_img{
    width: 220px;
   }
   .about_description{
    padding: 0 5rem 0 0;
    margin-bottom: 2rem;
   }
  
  
  }
  
  @media screen and (max-width: 768px){
 
  
  @media screen and (max-width: 576px){
    .about_description{
        margin-left: 20px;
        margin-right: 20px;
        padding: 5px;
    }

    .button{
        margin-left: 20px;
    }
  }
}