.home_content{
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
    padding-left: 0.5rem;
}

.home_social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}



.home_social-icon{
    font-size: 1rem;
    color: var(--title-color-dark);
    opacity: 0;
    animation: BottomForm .5s ease forwards;
}

.home_social-icon:hover{
    color: var(--title-color-dark);
}

.home_title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-20);
}

.home_title span{
    color: rgb(0, 0, 0);
}
.home_hand{
    width: 38px;
    height: 38px;
    margin-left:0.4rem;
}

.home_subtitle{
    position: relative;
    font-size: var(--h3-font-size);
    padding-right: 5.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
    
}

.home_subtitle:before{
    content:'';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    left:0;
    top: 1rem;
}
.home_data{
    opacity: 0;
    animation: LeftForm .5s ease forwards;
}

.home_img{
    background: url(../../assets/photos/Profile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: inset 0 0 0 9px rgb(255, 255, 255 / 30%);
    order: 1;
    justify-self: center;
    width: 250px;
    height: 250px;
    animation: profile_animate 4s ease-in-out infinite 1s;
    
}
.button{
    margin-top: 50px;
}
@keyframes profile_animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}



@keyframes LeftForm {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes BottomForm {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@media screen and (max-width: 992px){
    .home_content{
        grid-template-columns: 100px repeat(2,1fr);
        column-gap: 1.25rem;
        height: 100%S;
    }

    .home_hand{
        width: 26px;
        height: 26px;
    }

    .home_subtitle{
        margin-bottom: var(--mb-1);
    }
    .home_title{
        font-size: var(h3-font-size);
        margin-bottom: var(--mb-1);
    }
    .home_subtitle:before{
        width: 42px;
        top: 0.8rem;
    }
    .home_img{
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 8px rgb(255, 255, 255 / 30%);
    }
  }
  
  @media screen and (max-width: 768px){
    .home_content{
        grid-template-columns: 0.5fr 3fr;
        padding-top:3.5rem ;
    }

    .home_img{
        order: initial;
        justify-self: initial;
    }
    .home_data{
        grid-column: 1/3;
    }
    .home_img{
        box-shadow: inset 0 0 0 6px rgb(255, 255, 255 / 30%);
        width: 200px;
        height: 200px;
    }
  }

  
  @media screen and (max-width: 350px){
    .home_content{
        padding-left:0.5rem ;
    }
        .home_img{
            width: 180px;
            height: 180px;
        }
        .home_hand{
            width: 20px;
            height: 20px;
        }
  }
  

